// main: ../main.scss
/*--------------------------------------------------------------
# Services 2 Section
--------------------------------------------------------------*/
.services-2 {
  .service-item {
    height: 100%;
    background-color: var(--surface-color);
    box-shadow: 0px 0 30px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
    border-radius: 8px;
    overflow: hidden;

    .img {
      overflow: hidden;

      img {
        transition: 0.6s;
      }
    }

    .details {
      padding: 25px;

      .icon {
        margin: 0 auto 20px auto;
        width: 64px;
        height: 64px;
        background: var(--accent-color);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;

        i {
          color: var(--contrast-color);
          font-size: 28px;
          transition: ease-in-out 0.3s;
        }
      }

      h3 {
        color: var(--heading-color);
        font-weight: 700;
        margin: 0 0 15px 0;
        font-size: 22px;
        transition: 0.3s;
        text-align: center;
      }

      p {
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 0;
        color: color-mix(in srgb, var(--default-color), transparent 30%);
        text-align: center;
      }
    }

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0px 0 30px rgba(0, 0, 0, 0.15);

      .img img {
        transform: scale(1.1);
      }

      .details h3 {
        color: var(--accent-color);
      }

      .details .icon {
        background: color-mix(in srgb, var(--accent-color), transparent 90%);

        i {
          color: var(--accent-color);
        }
      }
    }
  }
}